@media screen and (max-width: 320px) {
    .container__big-card {
        margin-left: 20px;
        margin-right: 20px;
        width: 280px;
        height: 500px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    
    .big-card__photo img {
        width: 90%;
        min-width: 280px;
    }
}