@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;

}

body, html{
    background-color: black;
}

header.banner {
    margin-top: 15px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(49, 168, 221, .2), rgba(0, 0, 0, 0.725)), url(../img/banner.png);
    background-color: #0d161d;
    background-size: cover;
    /* height: 100vh; */
    height: 700px;
    border-bottom: 1px solid #144053;
    padding-top: 60px;
}


.banner .logo-css {
    background-color: rgba(0, 0, 0, 0.262);
    margin: auto;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.logo-css img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.banner h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 20px;

}

.banner p {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.725);
    color: white;
    width: 490px;
    margin: auto;    
}

.banner button {
    background-color: transparent;
    color: #33A8DB;
    font-weight: bold;
    padding: 16px 32px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    letter-spacing: 3px;
    font-size: 1rem;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
}

.banner button:hover {
    color: white;
    box-shadow: 1px 1px 20px white;
    border: 1px solid white;
}

section#conteudos {
    height: 750px;
    padding: 20px;
    border-bottom: 1px solid #144053;
}

#conteudos h2 {
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
    font-weight: 600;
    word-spacing: 4px;
    letter-spacing: 4px;
    margin: 120px auto 30px;
    text-align: center;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
}

#modulos p {
    color: white;
    text-align: center;
    width: 800px;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.725);
}

.botao-modulo {
    background-color: #252525;
    display: block;
    width: 650px;
    border-radius: 30px;
    margin: 30px auto;
    color: white;
    padding: 25px;
    border: 1px solid #33A8DB;
    text-align: center;
    font-size: 20px;
    box-shadow: inset 1px 1px 40px black;
}

.botao-modulo:hover {
    background-color: #18476a;
    cursor: pointer;
}

.botao-modulo span {
    color: #33A8DB;
}

section#transforme {
    height: 600px;
    background-image: url(../img/woman-code.png);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px;
    border-bottom: 1px solid #144053;
}

#transforme div {
    font-size: 40px;
    max-width: 250px;
    font-weight: 900;
    text-shadow: 3px 2px #33a8db;
    color: white;
}

section#evolua {
    margin: 32px auto 0px;
    height: 800px;
    display: block;
    padding: 80px;
    border-bottom: 1px solid #144053;
}

#evolua h2 {
    color: transparent;
    background-clip: text;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

#evolua img {
    display: block;
    margin: 50px auto;
}

#evolua p {
    color: white;
    text-align: center;
}

footer {
    padding: 80px;
    height: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: #33a8db;
}

footer a:hover {
    text-decoration: underline;
}


/*             MOBILE:              */

@media screen and (max-width: 768px) {
    .banner p {
        width: 300px
    }

    section#conteudos {
        height: 800px;
    }
    #conteudos p {
        width: 300px;
    }

    .botao-modulo {
        width: 350px;
        font-size: 15pt;
        word-wrap: break-word;
    }

    section#transforme {
        padding: 45px;
        background-position: 50% 20%;
        background-size: cover;
    }

    section#evolua {
        height: 850px;
        padding: 5px
    }

    #evolua img {
        width: 300px;
        margin: 30px auto;
    }

    #evolua h2 {
        height: 300px;
    }

    #evolua p {
        height: 250px;
        text-align: justify;
        padding: 10px;
        font-size: 14pt ;
    }

    footer {
        padding: 50px;
    }

    footer img {
        width: 300px;
    }

    
}